/*Targets every element in HTML*/
* {
    padding: 0;
    margin: 0;
}

header {
    height: 45px;
}

header nav ul {
    display: flex;
    margin-left: 70%;
    /* Removed bullet points */
    list-style: none;
}

header nav ul li {
    padding-left: 10%;
}

header a {
    text-decoration: underline;
    color: brown;
}

section {
    /*vh sizes elements relative to the height of the browser window */
    height: 100vh;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Container {
    margin-top: 10%;
}

.Container img {
    height: 300px;
    border-radius: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.Container h2 {
    margin-top: 2%;
    /* 3em means 3 times the current font size. */
    font-size: 3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Container p, ul {
    margin-top: 2%;
    font-size: 1.5rem;
    padding-top: 10%;
}

/* TBC if footer will be used
footer {
    line-height: 40px;
    display: flex;
    justify-content: center;
    font-size: 1rem;
} */

#about {
    background-color: bisque;
}

#contact {
    background-color: blanchedalmond;
}